html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    font-weight: bold;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}



a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #1E90FF;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

/*Navbar inverse styling*/


.navbar-inverse {
    border: 1px solid #4169E1;
   /*border-color: .5px #228B22;*/
    background-color: #228B22;
}
.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #7FFF00;
  /*background-color: transparent;*/
}
.navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #7FFF00;
  /*background-color: transparent;*/
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FF4500;
  background-color: white;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #FF6347;
  /*background-color: transparent;*/
}
.navbar-inverse .navbar-toggle {
  border-color: #FFFF00;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}

/*Navbar inverse styling end*/

.header {
    position: relative;
    width: 100%;
    height: 1000px;
    margin-top: 0px;
    color: #fff;
    background-image: url(../img/ikonsoft1.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header .header-content {
    width: 100%;
    height: 190px;
    margin-top: 50px;
    background-color: #1E90FF;
    /*background-color: #228B22;*/
}

.header-content .home-logo {
    /*color: #800000;*/
    color: white;
    font-family: 'Radley', serif;
    font-size: 90px;
    margin: 25px 0px 0px 0px;
    position: absolute;
    text-align: center;
    text-transform: inherit;
    font-weight: bold;
    width: 100%;
    height: 150px;
    /*-webkit-animation-duration: 10s;
  /*-webkit-animation-delay: 1s;*/
  /*-webkit-animation-iteration-count: infinite;*/
}
.slogan-content {
width: 100%;
height: 70px;
margin-top: 0px;
/*background-color: yellow;*/

}
 .slogan-content #slogan {
    position: absolute;
    max-width: 1000px;
    height:70px;
    margin: 0px 450px;
    color: blue;
    font-size: 50px;
    font-family: array;
    /*background-color: grey;*/
    -webkit-animation-duration: 10s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}

.header .flexslider {
     max-width: 100%;
     height: 250px;
     margin-top: 150px;
    }

.header .flexslider .slides .text-slider {
    max-width: 100%;
    margin: 0px;
    font-size: 100px;
    line-height: 250px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.section-heading {
    margin-top: 0;
    font-size: 50px;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
    height: 500px;
    border: 10px solid #B0E0E6;
    background-color: #ffffff;
    -webkit-animation-duration: 3s !important;
  -webkit-animation-delay: .1s;
  -webkit-animation-iteration-count: 1;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 0.8;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: inherit;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

.services {

background-color: #E6E6FA;
background-image: url(../img/ikonsoft2.jpg);
background-size: 1903px 854px;

}

.box-header{
    font-size: 25px !important;
}
.service-box-content {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #B22222;
}

.service-box ul {
    list-style: none;
    padding: 0px;
    margin: 70px;
}

.service-box ul li {
    font-weight: bold;
    margin-bottom: 7px;
    padding-bottom: 7px;
    border-bottom: 1px dashed #e0e0e0;
    }
    .service-box:hover { 
        color: white;
        background-color: #1E90FF;
    }
.service-box .service-box-content:hover {
        color: white;
        background-color: #1E90FF;
    }
    .service-title {
        color: white;
    }
    .contact {
        color: #E62E00;
        background-image: url(../img/ikon-contact.jpg);
        background-size: 1903px 491px;
    }
    a:link {
        text-decoration: none;
    }


    a:hover {
        color: #FF00FF;
        text-decoration: none;

    }

    
    #footer {

        height: 65px;
        background-color: #1E90FF;
        border: 1px solid #4169E1;
    

    }
    .copyright{

       margin-top: 10px;
       font-family: 'Radley', serif;

    }

   .copyright .copyright-text {
     font-size: 20px;


   }

    .social-media-icons {
        display: inline;
        float: right;
        margin-top: 10px;
    }
    .social-media-icons p {
        font-size: 20px;
        float: left;
        font-family: 'Radley', serif;
    }
   .social-media-icons ul {
       display: inline;
       list-style-type: none;
   }

   .social-media-icons li {
    display: inline;
    padding: 0px 5px;
    
   }
