@media only screen and (max-width: 768px) {

    .header {
     	width: 100%;
     	height: 400px;
        background-color: black;
    }


    .header .header-content {
    	width: 100%;
    	height: 25%;

    }
    .header-content .home-logo {
        width: 100%;
    	font-size: 30px;
    }

    .slogan-content {
    	width: 100%;

    }

    .slogan-content #slogan {
    	width: 100%;
    	height: 10%;
    	margin-left: 5px;
    	margin-top: 20px;
    	font-size: 20px;


    }

    .header .flexslider {
    	margin-top: 60px;
    	width: 100%;
    	height: 30%;
    }

   .header .flexslider .slides .text-slider {

   font-size: 20px;
   margin-top: -75px;
   padding: 0px;

   }

}

@media only screen and (max-width: 768px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}

@media only screen and (max-width:768px) {

    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #1E90FF;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #1E90FF;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: yellow;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #1E90FF;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #1E90FF ;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}

@media only screen and (max-width: 768px){

    #footer {

   width: 100%;
   height: 180px;
    }

   .copyright {
   width: 100%;
   margin-top: 20px;
   padding: auto;
   }
   .copyright .copyright-text {
    font-size: 15px;

   }
    .social-media-icons {
        width: 100%;

    }
    .social-media-icons ul{

        width: 100%;
        margin-left: 0px;
    }

    .social-media-icons li{

        width: 100%;
        margin-left: 0px;
        padding: 0px;
    }
   .social-media-icons p {
    text-align: center;
    width: 100%;
    font-size: 15px;

    }

}

@media only screen and (max-width: 768px){

    .bg-primary {

width: 100%;
height:360px;

}

.section-heading {
    margin-top: -10px;
    font-size: 25px;
}
.text-faded {
    font-size: 15px;

}

}



