body {
	/*position:relative;
	
	font-family:Arial, Sans-Serif;
	-webkit-font-kerning: auto;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;*/
}



* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {

	margin: 0;
	padding: 0;
}

/* SLIDER STYLES */
	
.slider-wrapper {
	position:relative;
	overflow:hidden;
	
	width:100%;
	
	margin:0px auto;
	
	background:#1b1b1b;
	
	/*border:1px solid #000;*/
	/*box-shadow:0 3px 5px #666;*/
}

.slider {
	position:relative;
	width:100%; 
	/*height:800px; when responsive, comment this out */
	margin:0 auto;
	
	background:#1b1b1b;
}

@media only screen and (min-width: 1000px){
	.slider{
		width:1000px;
	}
}

@media only screen and (min-width: 1440px){
	.slider{
		width:1440px;
	}
}

@media only screen and (min-width: 1920px){
	.slider{
		width:1640px;
	}
}






.about-me-container {
	position: relative;
	padding: 1%;
}

.about-me-header {
	
	text-transform: uppercase;
}

.about-me-header-text {
	font-family: Times;
	font-size: 50px;
}

.about-me-content {
	/*font-family: 'Josefin Slab', serif;*/
	font-family: arial;
	font-size: 25px;
	text-align: left;
}

.img-responsive {
	margin: 0px auto;
}
.content-container {
	padding: 5% 0px;
}

.my-expertise-container {
	position: relative;
	background-color: #1b1b1b;
	padding-left: 0px;
	padding-right: 0px;
}

.my-expertise-header {
	padding: 2% 0px;
	font-size: 55px;
	font-family: Times;
	text-transform: uppercase;
	color: #B5B522;
}

.all-circle-container {

	padding: 2% 0px;
}



.circle p {
	color: #fff;
}


.timer {
	color: #fff;


	display: block;
    position: absolute;
    font-size: 50px;
    height: 40px;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -40px;
    line-height: 40px;
}

